.left-column {
    background-color: pink;
    min-height: 500px;
    margin: 5px;
  }

  .left-column ul {
    list-style-type: none;
  }

  .left-column a {
    text-decoration: none;
  }

  .left-column .activeLink {
    color: yellow;
  }