.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    min-width: 70%;
    background-color: steelblue;
}

.superwrapper {
  height: 100%;
}

#root {
  height: 100%;
}

.div-1 {
  max-width: 500px;
  min-height: 500px;
  background-color: red;
  margin: 5px;
}

.div-2 {
  max-width: 500px;
  min-height: 500px;
  background-color: orange;
  margin: 5px;
}

.main-content-wrapper {
  display: flex;
  align-items: flex-start; 
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .main-content-wrapper {
    /* flex: 1 0 auto; */
    display: flex;
    flex-direction: column;
  }

  .div {
    font-size: 25px;
  }

}
